<!-- SideBar -->
<ul id="slide-out" class="sidenav">
    <li>
        <div class="user-view">
            <div class="background">
            </div>
            <h1><a href="/"><span class="black-text name">User</span></a></h1>
            <a href="#email"><span class="black-text email">jdandturk@gmail.com</span></a>
        </div>
    </li>
    <li><a href="#!" class="waves-effect"><i class="material-icons">computer</i>Projeto</a></li>
    <li><a href="#!" class="waves-effect"><i class="material-icons">computer</i>Taxonomia</a></li>
    <li><a href="#!" class="waves-effect"><i class="material-icons">computer</i>Ferramentas</a></li>
    <li>
        <div class="divider"></div>
    </li>
</ul>

<!-- NavBar -->
<nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo center">Taxonomia</a>
        <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li><a href="#" id="side_bar_activator"><i class="material-icons">menu</i></a></li>
        </ul>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/">Entrar</a></li>
        </ul>
    </div>
</nav>
<a href="#" data-target="slide-out" class="sidenav-trigger hidden"><i id="teste" class="material-icons">menu</i></a>