<form id="form_new" action="/ferramenta/new" method="POST">
    <div class="row">
        <div class="col s12 m12 l12">
            <div class="row">
                <div class="col s10 m10 l10">
                    <h3>Nova Ferramenta</h3>
                </div>
                <div class="col s2 m2 l2">
                    <button class="btn-flat" type="reset" onclick="displayNovaFerramentaStepper('hide')">Cancelar</button>
                </div>
            </div>
            <ul class="stepper linear">
                <li class="step active">
                    <div class="step-title waves-effect">Informações Gerais</div>
                    <div class="step-content">
                        <div class="row">
                            <div class="col s12 m6 l6 input-field">
                                <input id="name" name="name" type="text" class="validate">
                                <label for="name">Nome da Ferramenta</label>
                            </div>
                        </div>
                        <div class="step-actions">
                            <button class="waves-effect waves-dark btn next-step">Avançar</button>
                        </div>
                    </div>
                </li>
                <li class="step">
                    <div class="step-title waves-effect">Sustentação</div>
                    <div class="step-content">
                        <div class="row">
                            <div class="col s12 m6 l6 input-field">
                                <input id="autoria" name="autoria" type="text" class="validate">
                                <label for="autoria">Autoria</label>
                            </div>
                            <div class="col s12 m12 l6 input-field">
                                <h6>Tipo de Abordagem</h6>
                                <!-- $('input[name=group_abordagem]:checked').attr('id') -->
                                <p>
                                    <label>
                                        <input name="abordagem" type="radio" value="Horizontal" />
                                        <span>Horizontal</span>
                                    </label>
                                    <label>
                                        <input name="abordagem" type="radio" value="Vertical" />
                                        <span>Vertical</span>
                                    </label>
                                    <label>
                                        <input name="abordagem" type="radio" value="Ambos" />
                                        <span>Ambos</span>
                                    </label>
                                </p>
                            </div>
                            <div class="row">
                                <div class="col s12 m12 l12">
                                    <h6>Engajamento</h6>
                                </div>
                                <div class="col s12 m6 l5 input-field">
                                    <select name="engajamento_tecnica" id="engajamento_tecnica">
                                        <option value="" disabled selected>Selecione</option>
                                    </select>
                                    <label>Técnica</label>
                                </div>
                                <div class="col s2 m2 l1 center" style="margin: 20px 15px 0 -15px">
                                    <button type="button" data-target="modal_new" class="waves-effect waves-light btn modal-trigger"
                                        onclick="carregaModal('engajamento_tecnica')"><i class="material-icons">add</i></button>
                                </div>
                                <div class="col s12 m6 l6 input-field">
                                    <input name="engajamento_estrategia" id="engajamento_estrategia" type="text" class="validate">
                                    <label for="engajamento_estrategia">Estratégia</label>
                                </div>
                            </div>
                        </div>
                        <div class="step-actions">
                            <button class="waves-effect waves-dark btn next-step" type="submit">Salvar</button>
                            <button class="waves-effect waves-dark btn next-step">Avançar</button>
                            <button class="waves-effect waves-dark btn-flat previous-step">Voltar</button>
                        </div>
                    </div>
                </li>
                <li class="step">
                    <div class="step-title waves-effect">Domínio</div>
                    <div class="step-content">
                        <div class="row">
                            <div class="col s10 m4 l5 input-field">
                                <select name="area" id="area">
                                    <option value="null">Selecione</option>
                                    <option value="1">Orçamento Participativo</option>
                                    <option value="2">Geral</option>
                                    <option value="3">Planejamento Urbano</option>
                                </select>
                                <label>Área</label>
                            </div>
                            <div class="col s2 m2 l1 center" style="margin: 20px 15px 0 -15px">
                                <button type="button" data-target="modal_new" class="waves-effect waves-light btn modal-trigger"
                                    onclick="carregaModal('area')"><i class="material-icons">add</i></button>
                            </div>
                            <div class="col s12 m6 l6 input-field">
                                <input name="localizacao" id="localizacao" type="text" class="validate">
                                <label for="localizacao">Localização</label>
                            </div>
                            <div class="col s12 m6 l6 input-field">
                                <h6>Esfera Governamental</h6>
                                <p>
                                    <label>
                                        <input name="esfera_governamental" type="radio" value="Municipal" />
                                        <span>Municipal</span>
                                    </label>
                                    <label>
                                        <input name="esfera_governamental" type="radio" value="Estadual" />
                                        <span>Estadual</span>
                                    </label>
                                    <label>
                                        <input name="esfera_governamental" type="radio" value="Federal" />
                                        <span>Federal</span>
                                    </label>
                                    <label>
                                        <input name="esfera_governamental" type="radio" value="Regional" />
                                        <span>Federal</span>
                                    </label>
                                </p>
                            </div>
                            <div class="col s10 m4 l5 input-field">
                                <select name="idioma" id="idioma">
                                </select>
                                <label>Idioma</label>
                            </div>
                            <div class="col s2 m2 l1 center" style="margin: 20px 15px 0 -15px">
                                <button type="button" data-target="modal_new" class="waves-effect waves-light btn modal-trigger"
                                    onclick="carregaModal('idioma')"><i class="material-icons">add</i></button>
                            </div>
                            <div class="col s12 m6 l6 input-field">
                                <input name="publico_alvo" id="publico_alvo" type="text" class="validate">
                                <label for="publico_alvo">Público Alvo</label>
                            </div>

                            <!-- $('input[name=group_tipo_participacao]:checked').attr('id') -->
                            <div class="col s12 m6 l6 input-field">
                                <h6>Tipo de Participação</h6>
                                <p>
                                    <label>
                                        <input name="tipo_de_participacao" type="radio" value="Voluntária" />
                                        <span>Voluntária</span>
                                    </label>
                                    <label>
                                        <input name="tipo_de_participacao" type="radio" value="Involuntária" />
                                        <span>Involuntária</span>
                                    </label>
                                    <label>
                                        <input name="tipo_de_participacao" type="radio" value="Ambos" />
                                        <span>Ambos</span>
                                    </label>
                                </p>
                            </div>
                        </div>
                        <div class="step-actions">
                            <button class="waves-effect waves-dark btn next-step">Avançar</button>
                            <button class="waves-effect waves-dark btn-flat previous-step">Voltar</button>
                        </div>
                    </div>
                </li>
                <li class="step">
                    <div class="step-title waves-effect">Tecnologias</div>
                    <div class="step-content">
                        <div class="row">
                            <div class="col s12 m6 l6 input-field">
                                <h6>Plataforma</h6>
                                <p>
                                    <label>
                                        <input name="plataforma" type="radio" value="Mobile" />
                                        <span>Mobile</span>
                                    </label>
                                    <label>
                                        <input name="plataforma" type="radio" value="Web" />
                                        <span>Web</span>
                                    </label>
                                    <label>
                                        <input name="plataforma" type="radio" value="Ambos" />
                                        <span>Ambos</span>
                                    </label>
                                </p>
                            </div>
                            <div class="col s10 m4 l5 input-field">
                                <select id="hardware">
                                    <option value="null">Selecione</option>
                                </select>
                                <label>Hardware</label>
                            </div>
                            <div class="col s2 m2 l1 center" style="margin: 20px 15px 0 -15px">
                                <button type="button" data-target="modal_new" class="waves-effect waves-light btn modal-trigger"
                                    onclick="carregaModal('hardware')"><i class="material-icons">add</i></button>
                            </div>
                            <div class="col s12 m12 l12">
                                <h6>Desenvolvimento</h6>
                            </div>
                            <div class="col s10 m4 l5 input-field">
                                <select id="banco_de_dados">
                                    <option value="null">Selecione</option>
                                </select>
                                <label>Banco de Dados</label>
                            </div>
                            <div class="col s2 m2 l1 center" style="margin: 20px 15px 0 -15px">
                                <button type="button" data-target="modal_new" class="waves-effect waves-light btn modal-trigger"
                                    onclick="carregaModal('banco_de_dados')"><i class="material-icons">add</i></button>
                            </div>
                            <div class="col s10 m4 l5 input-field">
                                <select id="servidor_web">
                                    <option value="null">Selecione</option>
                                </select>
                                <label>Servidor</label>
                            </div>
                            <div class="col s2 m2 l1 center" style="margin: 20px 15px 0 -15px">
                                <button type="button" data-target="modal_new" class="waves-effect waves-light btn modal-trigger"
                                    onclick="carregaModal('servidor_web')"><i class="material-icons">add</i></button>
                            </div>
                            <div class="col s12 m6 l6 input-field">
                                <h6>Linguagens de Programação</h6>
                                <p id="linguagens_de_programacao" />
                            </div>
                            <div class="col s12 m6 l6 input-field">
                                <h6>Bibliotecas</h6>
                                <p id="bibliotecas" />
                            </div>
                            <div class="col s12 m6 l6 input-field">
                                <h6>API</h6>
                                <p id="api" />
                            </div>
                        </div>
                        <div class="step-actions">
                            <button class="waves-effect waves-dark btn next-step">Avançar</button>
                            <button class="waves-effect waves-dark btn-flat previous-step">Voltar</button>
                        </div>
                    </div>
                </li>
                <li class="step">
                    <div class="step-title waves-effect">Funcionalidades</div>
                    <div class="step-content">
                        <div class="row">
                            <div class="col s12 m6 l6 input-field">
                                <h6>Dados Abertos</h6>
                                <p>
                                    <label>
                                        <input name="dados_abertos" type="radio" value="Consome" />
                                        <span>Consome</span>
                                    </label>
                                    <label>
                                        <input name="dados_abertos" type="radio" value="Disponibiliza" />
                                        <span>Disponibiliza</span>
                                    </label>
                                    <label>
                                        <input name="dados_abertos" type="radio" value="Ambos" />
                                        <span>Ambos</span>
                                    </label>
                                    <label>
                                        <input name="dados_abertos" type="radio" value="Nenhuma das Opções" />
                                        <span>Nenhuma das Opções</span>
                                    </label>
                                </p>
                            </div>
                            <div class="col s10 m4 l5 input-field">
                                <select id="tipo_de_informacao">
                                    <option value="null">Selecione</option>
                                </select>
                                <label>Tipo de Informação</label>
                            </div>
                            <div class="col s2 m2 l1 center" style="margin: 20px 15px 0 -15px">
                                <button type="button" data-target="modal_new" class="waves-effect waves-light btn modal-trigger"
                                    onclick="carregaModal('tipo_de_informacao')"><i class="material-icons">add</i></button>
                            </div>
                            <div class="col s10 m4 l5 input-field">
                                <select id="moderacao">
                                    <option value="null">Selecione</option>
                                    <option value="1">Administrador</option>
                                    <option value="2">Usuário Responsável</option>
                                </select>
                                <label>Moderação</label>
                            </div>
                            <div class="col s2 m2 l1 center" style="margin: 20px 15px 0 -15px">
                                <button type="button" data-target="modal_new" class="waves-effect waves-light btn modal-trigger"
                                    onclick="carregaModal('moderacao')"><i class="material-icons">add</i></button>
                            </div>
                            <div class="col s12 m6 l6 input-field">
                                <select id="relacionamento">
                                    <option value="null">Selecione</option>
                                    <option value="true">Sim</option>
                                    <option value="false">Não</option>
                                </select>
                                <label>Relacionamento (Poder Público)</label>
                            </div>
                            <div class="col s12 m6 l6 input-field">
                                <select id="autenticacao">
                                    <option value="null">Selecione</option>
                                    <option value="true">Sim</option>
                                    <option value="false">Não</option>
                                </select>
                                <label>Autenticação</label>
                            </div>
                            <div class="col s12 m12 l12">
                                <h6>Visualização de Informação</h6>
                            </div>
                            <div class="col s12 m6 l6 input-field">
                                <h6>Técnica</h6>
                                <p id="vis_tecnica" />
                            </div>
                            <div class="col s12 m12 l6 input-field">
                                <input id="informacao" type="text" class="validate">
                                <label for="informacao">Informação</label>
                            </div>
                            <div class="col s12 m12 l12">
                                <h6>Coleta de Dados</h6>
                            </div>
                            <div class="col s12 m6 l6 input-field">
                                <h6>Tipo de Dado</h6>
                                <p id="tipo_de_dado" />
                            </div>
                            <div class="col s12 m6 l6 input-field">
                                <h6>Estratégia</h6>
                                <p id="estrategia" />
                            </div>
                            <div class="col s12 m6 l6 input-field">
                                <h6>Processamento</h6>
                                <p id="processamento_de_dados" />
                            </div>
                            <div class="col s12 m12 l12">
                                <h6>Interação Entre Usuários</h6>
                            </div>
                            <div class="col s12 m12 l6 input-field">
                                <input id="objetivo" type="text" class="validate">
                                <label for="objetivo">Objetivo</label>
                            </div>
                            <div class="col s12 m6 l6 input-field">
                                <h6>Técnica</h6>
                                <p id="interacao_tecnica" />
                            </div>
                        </div>
                        <div class="step-actions">
                            <button class="waves-effect waves-dark btn next-step">Avançar</button>
                            <button class="waves-effect waves-dark btn-flat previous-step">Voltar</button>
                        </div>
                    </div>
                </li>
                <li class="step">
                    <div class="step-title waves-effect">Salvar</div>
                    <div class="step-content">
                        <div class="step-actions">
                            <button class="waves-effect waves-dark btn" type="submit">Salvar</button>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</form>