@import url('https://fonts.googleapis.com/css?family=Open+Sans');

#body svg g.node circle {
  cursor: pointer;
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

#body.node text {
  font-size: 11px;
}

#body > path.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

/* ============================ */

#taxonomy_tree svg {
  display: block;
  margin: auto;
  margin-top: -100px;
}

#taxonomy_tree.node {
  font-family: Open Sans, sans-serif;;
  font-size: 13px;
  font-weight: bold;
  text-rendering: optimizelegibility;
} 

.link {
  fill: none;
  stroke: #8D8D8D;
  stroke-width: 1px;
}

.funcionalidades circle {
  fill: #9A6DB0;
}

.sustentacao circle{
  fill: #5DA1C4;
}

.tecnologias circle{
  fill: #F8A51B;
}

.dominio circle{
  fill: #AED361;
}

.raiz circle{
  fill: #34373C;
}
  
.raiz text{
  fill: #fff;
  font-size: 14px;
}