<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <% include ../partials/head %>
</head>

<body>
    <main>
        <% include ../partials/header %>
        <div class="row center">
            <div class="col">
                <h1>Bem-Vindo</h1>
            </div>
        </div>
    </main>
</body>

<% include ../partials/footer %>

</html>